---
import Layout from '../layouts/Layout.astro';
const { Content, frontmatter } = await import('../content/404.mdx');
---
<Layout title={frontmatter.title} wide={false}>
			<div class="markdown-content">
				<Content />
			</div>
</Layout>