---
const {type = 'info', title, emoji = 'ℹ️'} = Astro.props;
---
<div class={`callout callout-${type}`}>
  <div class="callout-content">
    <p class="callout-title text-2xl">  {emoji && <span class="emoji">{emoji}</span>} {title}</p>
    <div class="callout-body">
      <slot />
    </div>
  </div>
</div>